#name, #email{
    background-color: blue;
}
h1{
    text-align: center;
    padding-bottom: 1cm;
}
#zapisz, #anuluj{
    background-color: orange;
    padding: 1cm;
}

img {
    width: 300px;
    height: 300px;
    padding: 1cm;
    border-color: blue;
    border-radius: 4px;
    border-style: solid;
}
#num{
    border-color: brown;
    border-radius: 3px;
    border-style: solid;
    font-weight: bold;
}